<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Farnham Dene - Appointments</title>
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime()
                , event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0]
                , j = d.createElement(s)
                , dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PMT66HP');
    </script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PMT66HP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="page-header">
        <div class="section-inner">
            <nav class="navbar  navbar-expand-md">
                <div class="navbar-header">
                    <a href="\" class="navbar-brand navbar-logo"> <span class="navbar-brand-main">
                    <img src="img/farnham-dene-logo.svg" alt="logo"> </span> <span class="navbar-brand-partner">
                        <img src="img/NHS-Logo.svg" alt="nhs">
                    </span> </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#locations"> <span class="hamburger">
                        <span class="icon-bar"></span> </span>
                    </button>
                </div>
                <div class="navbar-collapse" id="locations">
                    <div class="nav navbar-nav navbar-right">
                        <ul class="locations-list">
                            <h6>Locations:&nbsp;</h6>
                            <li><a href="locations.html#farnham">Farnham Centre for Health</a></li>
                            <li><span>&nbsp;|&nbsp;</span></li>
                            <li><a href="locations.html#bourne">Lower Bourne</a> </li>
                        </ul>
                        <ul class="info-list">
                            <li>
                                <a href="opening_hours.html"> <img src="img/time.svg" alt="time-icon">&nbsp;<span>Opening Hours</span></a>
                            </li>
                            <!--
                            <li>
                                <a href="comingsoon.html"> <img src="img/tick.svg" alt="tick-icon">&nbsp;<span>Join the Practice</span></a>
                            </li>
-->
                            <!--
                            <li>
                                <a href="comingsoon.html"> <img src="img/call.svg" alt="call-icon">&nbsp;<span>Contact Us</span></a></li>                           
-->
                            <li>
                                <a href="javascript:void(0);"> <img src="img/call.svg" alt="call-icon">&nbsp;<span>01252 730 100</span></a>
                            </li>
                        </ul>
                        <div class="rating-block">
                            <h6>CQC Rating</h6> <a href="https://www.cqc.org.uk/location/1-547710463" class="rating" target="_blank"> Good </a> </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main class="page-main aside-page">
        <div class="container-fluid">
            <div class="row section-inner">
                <div class="col-md-12 col-lg-8">
                    <div class="page-content">
                        <section class="page-title">
                            <div class="page-title-icon"> <img src="img/appointement.svg" alt="prescriptions"> </div>
                            <h1 class="page-title-heading">Appointments</h1>
                            <p class="page-title-text"> There are several ways to get the medical advice you need. Please select one of the below appointment types, to get best suited help on time. Should you require a same day appointment, you will be booked into the Farnham Integrated Care Centre.</p>
                            <!--                        <div class="page-title-link"> <a href="javascript:void(0);">Help me decide the best appointment type for my needs</a> </div>-->
                        </section>
                        <section class="page-nav">
                            <ul class="nav-tabs-list">
                                <li class="nav-tabs-list-item active" data-nav="1">Routine</li>
                                <!--                                <li class="nav-tabs-list-item" data-nav="2">Urgent</li>-->
                                <li class="nav-tabs-list-item" data-nav="3">Home Visit</li>
                                <li class="nav-tabs-list-item" data-nav="4">WHEN WE ARE CLOSED</li>
                            </ul>
                            <select class="select nav-tabs-select">
                                <option value="1" data-option="1" selected>Routine</option>
                                <!--                                <option value="2" data-option="2">Urgent</option>-->
                                <option value="3" data-option="3">Home Visit</option>
                                <option value="4" data-option="4">WHEN WE ARE CLOSED</option>
                            </select>
                        </section>
                        <section class="page-tabs">
                            <div class="page-tabs-item active" data-tab="1">
                                <div class="info-tab">
                                    <div class="info-tab-icon"> <img src="img/clock_icon.svg" alt="clock" class="auto-width"> </div>
                                    <div class="info-tab-text">
                                        <p>Routine GP appointments are now available on weekday evenings and Saturday mornings at Farnham Integrated Care Centre. This service is run by Farnham Integrated Care Services which consists of the five Farnham GP practices, so you may be seen by a GP from any of these practices. In addition there are some practice nurse and health care assistant appointments available on weekday evenings and Saturday mornings.</p>
                                        <p>The appointments are all booked through our reception team. However the appointment will take place at Farnham Integrated Care Centre based in Farnham Centre for Health..</p>
                                        <p>On Sunday mornings there is a bookable routine GP surgery at Frimley hospital in Outpatients 1. This service is shared across the Clinical Commissioning Group area and hence will be staffed by GP's from across the locality.</p>
                                    </div>
                                </div>
                                <div class="service-tab">
                                    <div class="service-tab-left">
                                        <h3 class="service-tab-title">Online Consultation</h3>
                                        <p class="service-tab-text"> Consult online with Farnham dene medical practice. As well as medical advice, you can use eConsult for:
                                            <br> Fit notes | GP letters | Medical reports | Medication reviews | Test results </p> <a href="https://farnhamdene.webgp.com" class="service-tab-button blue-button" target="_blank">Start your Online Consultation</a> <a href="javascript:void(0);" class="service-tab-link">Find out more</a> </div>
                                    <div class="service-tab-right">
                                        <div class="logos-block">
                                            <div class="econsult-logo"> <img src="img/econsult.png" alt="econsult"> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="service-tab">
                                    <div class="service-tab-left">
                                        <h3 class="service-tab-title">GP Online Services</h3>
                                        <p class="service-tab-text"> Book face-to-face or remote online appointments with your GP, nurse or clinician at a time that suits you. You can also request repeat prescriptions for any medications you take regularly and view your GP medical record including test results.</p>
                                        <div> <a href="https://www.patientaccess.com" class="service-tab-button pink-button" target="_blank">Patient Access Sign In</a> <a href="https://e-life.co.uk/login" class="service-tab-button green-button" target="_blank">Evergreen Life Sign In</a> </div>
                                    </div>
                                    <div class="service-tab-right">
                                        <div class="logos-block">
                                            <div class="pa-logo"> <img src="img/pa-logo.svg" alt="pa"> </div>
                                            <div class="evergreen-logo"> <img src="img/logo-grey-green.svg" alt="evergreen"> </div>
                                        </div>
                                    </div>
                                </div>
                                <!--
                                <div class="service-tab">
                                    <div class="service-tab-left">
                                        <h3 class="service-tab-title">Call the Practice</h3>
                                        <p class="service-tab-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur gravida neque augue, a dignissim tortor ultricies eu. Sed ut purus aliquet, aliquet turpis et, bibendum erat. Nulla tempus quis nunc sed feugiat. Mauris semper diam ipsum.</p>
                                        <div> <a href="javascript:void(0);" class="service-tab-button blue-button">Call Us</a> <a href="javascript:void(0);" class="service-tab-phone">000-111-2222</a> </div>
                                    </div>
                                    <div class="service-tab-right">
                                        <div class="logos-block">
                                            <div class="call-logo"> <img src="img/call_us.svg" alt="econsult"> </div>
                                        </div>
                                    </div>
                                </div>
--></div>
                            <div class="page-tabs-item" data-tab="2">
                                <div class="info-tab">
                                    <div class="info-tab-icon"> <img src="img/urgent_clock_icon.svg" alt="clock" class="auto-width"> </div>
                                    <div class="info-tab-text">
                                        <p>Routine GP appointments are now available on weekday evenings and Saturday mornings at Farnham Integrated Care Centre. This service is run by Farnham Integrated Care Services which consists of the five Farnham GP practices, so you may be seen by a GP from any of these practices. In addition there are some practice nurse and health care assistant appointments available on weekday evenings and Saturday mornings.</p>
                                        <p>The appointments are all booked through our reception team. However the appointment will take place at Farnham Integrated Care Centre based in Farnham Centre for Health..</p>
                                        <p>On Sunday mornings there is a bookable routine GP surgery at Frimley hospital in Outpatients 1. This service is shared across the Clinical Commissioning Group area and hence will be staffed by GP's from across the locality.</p>
                                    </div>
                                </div>
                                <!--
                                <div class="service-tab">
                                    <div class="service-tab-left">
                                        <h3 class="service-tab-title">Call the Practice</h3>
                                        <p class="service-tab-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur gravida neque augue, a dignissim tortor ultricies eu. Sed ut purus aliquet, aliquet turpis et, bibendum erat. Nulla tempus quis nunc sed feugiat. Mauris semper diam ipsum.</p>
                                        <div> <a href="javascript:void(0);" class="service-tab-button blue-button">Call Us</a> <a href="javascript:void(0);" class="service-tab-phone">000-111-2222</a> </div>
                                    </div>
                                    <div class="service-tab-right">
                                        <div class="logos-block">
                                            <div class="call-logo"> <img src="img/call_us.svg" alt="econsult"> </div>
                                        </div>
                                    </div>
                                </div>
--></div>
                            <div class="page-tabs-item" data-tab="3">
                                <div class="info-tab">
                                    <div class="info-tab-icon"> <img src="img/first_aid_box_icon.svg" alt="first_aid" class="auto-width"> </div>
                                    <div class="info-tab-text">
                                        <p>If possible please try to telephone reception before 10am if you require a home visit.</p>
                                        <p>A doctor or nurse may phone you back as it may be that your problem can be dealt with by telephone advice, or that it would be more appropriate to send a nurse, community paramedic or indeed arrange a hospital attendance</p>
                                        <p>House visits are only available for patients who are housebound because of illness or disability</p>
                                        <p class="blue">Please remember that several patients can be seen in the practice in the time that it takes to make one home visit. There are also better facilities for examining and treating patients at the surgery.</p>
                                        <p><span>Emergencies will be attended to immediately.</span></p>
                                    </div>
                                </div>
                                <!--
                                <div class="service-tab">
                                    <div class="service-tab-left">
                                        <h3 class="service-tab-title">Call the Practice</h3>
                                        <p class="service-tab-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur gravida neque augue, a dignissim tortor ultricies eu. Sed ut purus aliquet, aliquet turpis et, bibendum erat. Nulla tempus quis nunc sed feugiat. Mauris semper diam ipsum.</p>
                                        <div> <a href="javascript:void(0);" class="service-tab-button blue-button">Call Us</a> <a href="javascript:void(0);" class="service-tab-phone">000-111-2222</a> </div>
                                    </div>
                                    <div class="service-tab-right">
                                        <div class="logos-block">
                                            <div class="call-logo"> <img src="img/call_us.svg" alt="econsult"> </div>
                                        </div>
                                    </div>
                                </div>
--></div>
                            <div class="page-tabs-item" data-tab="4">
                                <div class="info-tab">
                                    <div class="info-tab-icon"> <img src="img/close-icon.svg" alt="first_aid" class="auto-width"> </div>
                                    <div class="info-tab-text">
                                        <p>Out of hours care is provided by North East Hampshire and Farnham CCG.</p>
                                        <p>Please telephone: 111</p>
                                        <p>It may be possible for them to deal with your problem over the telephone or a doctor may visit you. You may be advised to attend a Primary Care Centre in the area. If you request advice, this is also available from NHS Direct on:
                                            <br> <a href="http://www.nhsdirect.nhs.uk" target="_blank">www.nhsdirect.nhs.uk</a> </p>
                                        <p>Please do not ask to see a doctor out of hours unless you genuinely cannot wait until the surgery re-opens. </p>
                                        <p>Call 999 in an emergency. Chest pains and / or shortness of breath constitute an emergency.</p>
                                    </div>
                                </div>
                                <div class="service-tab">
                                    <div class="service-tab-left">
                                        <h3 class="service-tab-title">Online Consultation</h3>
                                        <p class="service-tab-text"> Consult online with Farnham dene medical practice. As well as medical advice, you can use eConsult for:
                                            <br> Fit notes | GP letters | Medical reports | Medication reviews | Test results </p> <a href="https://farnhamdene.webgp.com" class="service-tab-button blue-button" target="_blank">Start your Online Consultation</a> <a href="javascript:void(0);" class="service-tab-link">Find out more</a> </div>
                                    <div class="service-tab-right">
                                        <div class="logos-block">
                                            <div class="econsult-logo"> <img src="img/econsult.png" alt="econsult"> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="page-aside">
                        <div class="page-aside-title">FAQs</div>
                        <div class="page-aside-cards">
                            <div class="aside-card">
                                <div class="aside-card-header">
                                    <div class="aside-card-header-text">How can I get an appointment outside of regular surgery hours?</div>
                                    <div class="aside-card-header-trigger">
                                        <div class="vert-line"> </div>
                                        <div class="hor-line"></div>
                                    </div>
                                </div>
                                <div class="aside-card-body">
                                    <div class="aside-card-body-text">
                                        <p>Extended Hours clinics</p>
                                        <ul>
                                            <li>Thursdays: 18:30 to 19:00 A GP and Nurse Practitioner clinic</li>
                                            <li>Saturday (the first and third Saturday each month)
                                                <br> A Nurse Practitioner and HCA clinic</li>
                                        </ul>
                                        <h4>Hub appointments</h4>
                                        <p>Alternatively, you can be seen at one of the
                                            <br> <span>Farnham Centre for Health</span></p>
                                        <p>There are 5 hub surgeries across the locality which run doctor and nurse services after weekday hours and every weekend</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        <div class="section-inner">
            <div class="container">
                <div class="row pratice-row">
                    <div class="col-12 col-lg-6 pratice-custom-px">
                        <div class="row pratice-custom-px">
                            <div class="col-12 col-md-6 pratice-custom-px">
                                <div class="footer-column">
                                    <div class="footer-logo"> <img src="img/farnham-dene-logo-white.png" alt="logo"> </div>
                                    <div class="footer-info">
                                        <h4 class="footer-info-title">
                                            EMAIL
                                        </h4>
                                        <p class="footer-info-text mt-0" id="e-trigger">&#60;click to reveal&#62;</p>
                                        <p class="footer-info-text mt-0 hidden" id="e-hiden"> admin.farnhamdene@nhs.net </p>
                                    </div>
                                    <div class="footer-info">
                                        <h4 class="footer-info-title">
                                            Telephone
                                        </h4>
                                        <p class="footer-info-text mt-0" id="t-trigger">&#60;click to reveal&#62;</p>
                                        <p class="footer-info-text mt-0 hidden" id="t-hiden"> 01252 730 100 </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 pratice-custom-px">
                                <div class="footer-column">
                                    <h3 class="footer-column-title">
                                         Locations
                                     </h3>
                                    <a href="locations.html" class="footer-info">
                                        <h4 class="footer-info-title">
                                            Farnham Centre for Health
                                        </h4>
                                        <p class="footer-info-text mb-0">Hale Road
                                            <br> Farnham
                                            <br> Surrey
                                            <br> GU9 9QS</p>
                                    </a>
                                    <a href="locations.html" target="_blank" class="footer-info">
                                        <h4 class="footer-info-title">
                                            Lower Bourne
                                        </h4>
                                        <p class="footer-info-text mb-0">Lodge Hill Road
                                            <br>Farnham
                                            <br> Surrey
                                            <br>GU10 3RB</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 pratice-custom-px ">
                        <div class="row justify-content-around pratice-custom-px">
                            <div class="col-12 col-md-6 col-lg-4 pratice-custom-px">
                                <div class="footer-column ml-10">
                                    <h3 class="footer-column-title">
                                         Information
                                     </h3>
                                    <ul class="footer-column-links">
                                        <li class="footer-column-links-item"><a href="comingsoon.html">GP Earnings</a></li>
                                        <li class="footer-column-links-item"><a href="comingsoon.html">Job Vacancies</a></li>
                                        <li class="footer-column-links-item"><a href="comingsoon.html">Join the Practice</a></li>
                                        <li class="footer-column-links-item"><a href="feedback.html">Give Feedback</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 pratice-custom-px">
                                <div class="footer-column ml-10">
                                    <h3 class="footer-column-title">
                                         ABOUT US
                                     </h3>
                                    <ul class="footer-column-links">
                                        <li class="footer-column-links-item"><a href="locations.html">Find Us</a></li>
                                        <li class="footer-column-links-item"><a href="opening_hours.html">Opening hours</a></li>
                                        <li class="footer-column-links-item"><a href="pratice_team.html">Practice Team</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pratice-row footer-credids">
                    <div class="col-12 col-lg-6 pratice-custom-px">
                        <div class="footer-credids-copyright"> © 2019 Farnham Dene Medical Centre </div>
                    </div>
                    <div class="col-12 col-lg-6 pratice-custom-px">
                        <ul class="footer-credids-links">
                            <li class="footer-credids-links-item"> <a href="javascript:void(0);">Terms of Use</a> </li>
                            <li class="footer-credids-links-item"> <a href="javascript:void(0);">Privacy Policy</a> </li>
                            <li class="footer-credids-links-item"> <a href="javascript:void(0);">Cookies Policy</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="overlay"></div>
    <div class="popover-video">
        <div class="popover-video-inner">
            <iframe width="100%" height="100%" id="yt_video" src="https://www.youtube.com/embed/j1-LQI1f0TI?enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <!--   Scripts-->
    <script src="libs/jquery-3.2.1.min.js"></script>
    <script src="libs/popper.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/breaking-news-ticker.min.js"></script>
    <script src="js/bundle.js"></script>
</body>

</html>