<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Farnham Dene - Comingsoon</title>
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime()
                , event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0]
                , j = d.createElement(s)
                , dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PMT66HP');
    </script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PMT66HP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
        <header class="page-header">
        <div class="section-inner">
            <nav class="navbar  navbar-expand-md">
                <div class="navbar-header">
                    <a href="\" class="navbar-brand navbar-logo"> 
                    <span class="navbar-brand-main">
                    <img src="img/farnham-dene-logo.svg" alt="logo"> </span>
                    <span class="navbar-brand-partner">
                        <img src="img/NHS-Logo.svg" alt="nhs">
                    </span>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#locations"> <span class="hamburger">
                        <span class="icon-bar"></span> </span>
                    </button>
                </div>
                <div class="navbar-collapse" id="locations">
                    <div class="nav navbar-nav navbar-right">
                        <ul class="locations-list">
                            <h6>Locations:&nbsp;</h6>
                            <li><a href="locations.html#farnham">Farnham Centre for Health</a></li>
                            <li><span>&nbsp;|&nbsp;</span></li>
                            <li><a href="locations.html#bourne">Lower Bourne</a> </li>
                        </ul>
                        <ul class="info-list">
                            <li>
                                <a href="opening_hours.html"> <img src="img/time.svg" alt="time-icon">&nbsp;<span>Opening Hours</span></a>
                            </li>
                            <!--
                            <li>
                                <a href="comingsoon.html"> <img src="img/tick.svg" alt="tick-icon">&nbsp;<span>Join the Practice</span></a>
                            </li>
-->
                            <!--
                            <li>
                                <a href="comingsoon.html"> <img src="img/call.svg" alt="call-icon">&nbsp;<span>Contact Us</span></a></li>                           
-->
                            <li>
                                <a href="javascript:void(0);"> <img src="img/call.svg" alt="call-icon">&nbsp;<span>01252 730 100</span></a>
                            </li>
                        </ul>
                        <div class="rating-block">
                            <h6>CQC Rating</h6> <a href="https://www.cqc.org.uk/location/1-547710463" class="rating" target="_blank"> Good </a> </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main class="page-main">
        <div class="section-inner">
            <div class="coming-soon">
                <div class="coming-soon-icon"> <img src="img/gear.svg" alt="gear"> </div>
                <div class="coming-soon-text"> This page is currently under-development </div>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        <div class="section-inner">
            <div class="container">
                <div class="row pratice-row">
                    <div class="col-12 col-lg-6 pratice-custom-px">
                        <div class="row pratice-custom-px">
                            <div class="col-12 col-md-6 pratice-custom-px">
                                <div class="footer-column">
                                    <div class="footer-logo"> <img src="img/farnham-dene-logo-white.png" alt="logo"> </div>
                                    <div class="footer-info">
                                        <h4 class="footer-info-title">
                                            EMAIL
                                        </h4>
                                        <p class="footer-info-text mt-0" id="e-trigger">&#60;click to reveal&#62;</p>
                                        <p class="footer-info-text mt-0 hidden" id="e-hiden"> admin.farnhamdene@nhs.net </p>
                                    </div>
                                    <div class="footer-info">
                                        <h4 class="footer-info-title">
                                            Telephone
                                        </h4>
                                        <p class="footer-info-text mt-0" id="t-trigger">&#60;click to reveal&#62;</p>
                                        <p class="footer-info-text mt-0 hidden" id="t-hiden"> 01252 730 100 </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 pratice-custom-px">
                                <div class="footer-column">
                                    <h3 class="footer-column-title">
                                         Locations
                                     </h3>
                                    <a href="locations.html" class="footer-info">
                                        <h4 class="footer-info-title">
                                            Farnham Centre for Health
                                        </h4>
                                        <p class="footer-info-text mb-0">Hale Road
                                            <br> Farnham
                                            <br> Surrey
                                            <br> GU9 9QS</p>
                                    </a>
                                    <a href="locations.html" target="_blank" class="footer-info">
                                        <h4 class="footer-info-title">
                                            Lower Bourne
                                        </h4>
                                        <p class="footer-info-text mb-0">Lodge Hill Road
                                            <br>Farnham
                                            <br> Surrey
                                            <br>GU10 3RB</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 pratice-custom-px ">
                        <div class="row justify-content-around pratice-custom-px">
                            <div class="col-12 col-md-6 col-lg-4 pratice-custom-px">
                                <div class="footer-column ml-10">
                                    <h3 class="footer-column-title">
                                         Information
                                     </h3>
                                    <ul class="footer-column-links">
                                        <li class="footer-column-links-item"><a href="comingsoon.html">GP Earnings</a></li>
                                        <li class="footer-column-links-item"><a href="comingsoon.html">Job Vacancies</a></li>
                                        <li class="footer-column-links-item"><a href="comingsoon.html">Join the Practice</a></li>
                                        <li class="footer-column-links-item"><a href="feedback.html">Give Feedback</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 pratice-custom-px">
                                <div class="footer-column ml-10">
                                    <h3 class="footer-column-title">
                                         ABOUT US
                                     </h3>
                                    <ul class="footer-column-links">
                                        <li class="footer-column-links-item"><a href="locations.html">Find Us</a></li>
                                        <li class="footer-column-links-item"><a href="opening_hours.html">Opening hours</a></li>
                                        <li class="footer-column-links-item"><a href="pratice_team.html">Practice Team</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pratice-row footer-credids">
                    <div class="col-12 col-lg-6 pratice-custom-px">
                        <div class="footer-credids-copyright"> © 2019 Farnham Dene Medical Centre </div>
                    </div>
                    <div class="col-12 col-lg-6 pratice-custom-px">
                        <ul class="footer-credids-links">
                            <li class="footer-credids-links-item"> <a href="javascript:void(0);">Terms of Use</a> </li>
                            <li class="footer-credids-links-item"> <a href="javascript:void(0);">Privacy Policy</a> </li>
                            <li class="footer-credids-links-item"> <a href="javascript:void(0);">Cookies Policy</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--   Scripts-->
    <script src="libs/jquery-3.2.1.min.js"></script>
    <script src="libs/popper.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/breaking-news-ticker.min.js"></script>
    <script src="js/bundle.js"></script>
</body>

</html>