<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Farnham Dene - Practice Team</title>
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime()
                , event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0]
                , j = d.createElement(s)
                , dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PMT66HP');
    </script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PMT66HP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="page-header">
        <div class="section-inner">
            <nav class="navbar  navbar-expand-md">
                <div class="navbar-header">
                    <a href="\" class="navbar-brand navbar-logo"> <span class="navbar-brand-main">
                    <img src="img/farnham-dene-logo.svg" alt="logo"> </span> <span class="navbar-brand-partner">
                        <img src="img/NHS-Logo.svg" alt="nhs">
                    </span> </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#locations"> <span class="hamburger">
                        <span class="icon-bar"></span> </span>
                    </button>
                </div>
                <div class="navbar-collapse" id="locations">
                    <div class="nav navbar-nav navbar-right">
                        <ul class="locations-list">
                            <h6>Locations:&nbsp;</h6>
                            <li><a href="locations.html#farnham">Farnham Centre for Health</a></li>
                            <li><span>&nbsp;|&nbsp;</span></li>
                            <li><a href="locations.html#bourne">Lower Bourne</a> </li>
                        </ul>
                        <ul class="info-list">
                            <li>
                                <a href="opening_hours.html"> <img src="img/time.svg" alt="time-icon">&nbsp;<span>Opening Hours</span></a>
                            </li>
                            <!--
                            <li>
                                <a href="comingsoon.html"> <img src="img/tick.svg" alt="tick-icon">&nbsp;<span>Join the Practice</span></a>
                            </li>
-->
                            <!--
                            <li>
                                <a href="comingsoon.html"> <img src="img/call.svg" alt="call-icon">&nbsp;<span>Contact Us</span></a></li>                           
-->
                            <li>
                                <a href="javascript:void(0);"> <img src="img/call.svg" alt="call-icon">&nbsp;<span>01252 730 100</span></a>
                            </li>
                        </ul>
                        <div class="rating-block">
                            <h6>CQC Rating</h6> <a href="https://www.cqc.org.uk/location/1-547710463" class="rating" target="_blank"> Good </a> </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main class="page-main">
        <div class="section-inner">
            <section class="page-title">
                <div class="page-title-icon"> <img src="img/team.svg" alt="clinics" class="auto_width"> </div>
                <h1 class="page-title-heading">Practice Team</h1> </section>
            <section class="page-nav pratice-time-nav">
                <div class="container">
                    <div class="row pratice-row">
                        <div class="col-12 pratice-custom-px">
                            <ul class="nav-tabs-list">
                                <li class="nav-tabs-list-item active" data-nav="1">Doctors</li>
                                <li class="nav-tabs-list-item" data-nav="2">NURSES</li>
                                <li class="nav-tabs-list-item" data-nav="3">Management</li>
                            </ul>
                            <select class="select nav-tabs-select">
                                <option value="1" data-option="1" selected>Doctors</option>
                                <option value="2" data-option="2">NURSES</option>
                                <option value="3" data-option="3">Management</option>
                            </select>
                        </div>
                    </div>
                </div>
            </section>
            <section class="page-tabs">
                <div class="page-tabs-item active" data-tab="1" data-name="doctors">
                    <div class="container">
                        <div class="row pratice-row">
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 pratice-custom-px">
                                <div class="page-card stuff-card" data-name="davidbrown">
                                    <div class="stuff-card-icon"> <img src="img/avatar-man.svg" alt="icon"> </div>
                                    <h3 class="stuff-card-name">Dr David Brown</h3>
                                    <div class="stuff-card-position">MA(Oxon) BMBCh MRCGP</div>
                                    <p class="stuff-card-text">Dr Brown qualified in 1991 from the University of Oxford. He joined the practice in 1997. His interests are cardiovascular disease, integrated health and social care, and GP training. Dr Brown is the Farnham PCN Clinical Director </p>
                                    <div class="stuff-card-availability">
                                        <div class="availability-row">
                                            <div class="availability-row-left row-head"> Days </div>
                                            <div class="availability-row-right row-head"> Availability </div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Monday </div>
                                            <div class="availability-row-right">All Day</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Thursday </div>
                                            <div class="availability-row-right">Morning</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Friday </div>
                                            <div class="availability-row-right">Afternoon</div>
                                        </div>
                                    </div>
                                    <div class="stuff-card-trigger"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 pratice-custom-px">
                                <div class="page-card stuff-card" data-name="rebeccareynolds">
                                    <div class="stuff-card-icon"> <img src="img/avatar-woman.svg" alt="icon"> </div>
                                    <h3 class="stuff-card-name">Dr Rebecca Reynolds</h3>
                                    <div class="stuff-card-position">BSc MBBS</div>
                                    <p class="stuff-card-text">Dr Reynolds qualified in 1995 from St. Mary’s in Paddington and joined the Bourne Surgery in November 2000. She is drawn to the overall care of patients. </p>
                                    <div class="stuff-card-availability">
                                        <div class="availability-row">
                                            <div class="availability-row-left row-head"> Days </div>
                                            <div class="availability-row-right row-head"> Availability </div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Monday </div>
                                            <div class="availability-row-right">Morning</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Wednesday </div>
                                            <div class="availability-row-right">All Day</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Thursday </div>
                                            <div class="availability-row-right">Morning</div>
                                        </div>
                                    </div>
                                    <div class="stuff-card-trigger"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 pratice-custom-px">
                                <div class="page-card stuff-card" data-name="fionalowen">
                                    <div class="stuff-card-icon"> <img src="img/avatar-woman.svg" alt="icon"> </div>
                                    <h3 class="stuff-card-name">Dr Fiona Lowen</h3>
                                    <div class="stuff-card-position">MBChb BSc Medsci DRCOG DFFP DGM DGM DPD MRCGP</div>
                                    <p class="stuff-card-text">Dr Lowen qualified in 2001 from the University of Glasgow.  She has a particular interest in dermatology.</p>
                                    <div class="stuff-card-availability">
                                        <div class="availability-row">
                                            <div class="availability-row-left row-head"> Days </div>
                                            <div class="availability-row-right row-head"> Availability </div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Monday </div>
                                            <div class="availability-row-right">All Day</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Thursday </div>
                                            <div class="availability-row-right">Afternoon</div>
                                        </div>
                                    </div>
                                    <div class="stuff-card-trigger"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 pratice-custom-px">
                                <div class="page-card stuff-card" data-name="jameswellham">
                                    <div class="stuff-card-icon"> <img src="img/avatar-man.svg" alt="icon"> </div>
                                    <h3 class="stuff-card-name">Dr James Wellham</h3>
                                    <div class="stuff-card-position">BSc Hons Genetics, MBBS MRCGP</div>
                                    <p class="stuff-card-text">Dr Wellham joined as a Partner in 2015 having previously trained as a GP Registrar at the Practice. He qualified from the University of Nottingham Medical School in 2008. Since joining the Practice, he has achieved a Certificate in Diabetes Care from the University of Warwick and is our lead GP for the care of people with Diabetes. </p>
                                    <div class="stuff-card-availability">
                                        <div class="availability-row">
                                            <div class="availability-row-left row-head"> Days </div>
                                            <div class="availability-row-right row-head"> Availability </div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Monday </div>
                                            <div class="availability-row-right">All Day</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Tuesday </div>
                                            <div class="availability-row-right">Morning</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Wednesday </div>
                                            <div class="availability-row-right">All Day</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Thursday </div>
                                            <div class="availability-row-right">All Day</div>
                                        </div>
                                    </div>
                                    <div class="stuff-card-trigger"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 pratice-custom-px">
                                <div class="page-card stuff-card" data-name="clairebrown">
                                    <div class="stuff-card-icon"> <img src="img/avatar-woman.svg" alt="icon"> </div>
                                    <h3 class="stuff-card-name">Dr Claire Brown</h3>
                                    <div class="stuff-card-position">MRCGP MBBS</div>
                                    <p class="stuff-card-text">Dr Brown graduated from University of London in 2006 and joined the practice in May 2016. She has a special interest in women's health, is the practice learning disabilities lead and also supervises medical students. </p>
                                    <div class="stuff-card-availability">
                                        <div class="availability-row">
                                            <div class="availability-row-left row-head"> Days </div>
                                            <div class="availability-row-right row-head"> Availability </div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Ttuesday </div>
                                            <div class="availability-row-right">Morning</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Wednesday </div>
                                            <div class="availability-row-right">Mornnnig</div>
                                        </div>
                                    </div>
                                    <div class="stuff-card-trigger"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 pratice-custom-px">
                                <div class="page-card stuff-card" data-name="clareodowd">
                                    <div class="stuff-card-icon"> <img src="img/avatar-woman.svg" alt="icon"> </div>
                                    <h3 class="stuff-card-name">Dr Clare O'Dowd</h3>
                                    <div class="stuff-card-position">MBBS DRCOG DFFP MRCGP</div>
                                    <p class="stuff-card-text">Dr O’Dowd has been at the practice since 1998 and is a part-time salaried GP. Her special interest is mental health.</p>
                                    <div class="stuff-card-availability">
                                        <div class="availability-row">
                                            <div class="availability-row-left row-head"> Days </div>
                                            <div class="availability-row-right row-head"> Availability </div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Tuesday </div>
                                            <div class="availability-row-right">All Day</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Wednesday </div>
                                            <div class="availability-row-right">Morning</div>
                                        </div>
                                    </div>
                                    <div class="stuff-card-trigger"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 pratice-custom-px">
                                <div class="page-card stuff-card" data-name="fionahead">
                                    <div class="stuff-card-icon"> <img src="img/avatar-woman.svg" alt="icon"> </div>
                                    <h3 class="stuff-card-name">Dr Fiona Head</h3>
                                    <div class="stuff-card-position">MBChB FPC</div>
                                    <p class="stuff-card-text">Dr Fiona Head joined the practice as a part-time salaried GP in April 2011.</p>
                                    <div class="stuff-card-availability">
                                        <div class="availability-row">
                                            <div class="availability-row-left row-head"> Days </div>
                                            <div class="availability-row-right row-head"> Availability </div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Thursday </div>
                                            <div class="availability-row-right">Afternoon</div>
                                        </div>
                                    </div>
                                    <div class="stuff-card-trigger"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 pratice-custom-px">
                                <div class="page-card stuff-card" data-name="ebrahim">
                                    <div class="stuff-card-icon"> <img src="img/avatar-woman.svg" alt="icon"> </div>
                                    <h3 class="stuff-card-name">Dr Niloufer Ebrahim</h3>
                                    <div class="stuff-card-position">MBBS</div>
                                    <p class="stuff-card-text">Dr. Niloufer Ebrahim joined the practice as a part-time salaried GP in July 2014.</p>
                                    <div class="stuff-card-availability">
                                        <div class="availability-row">
                                            <div class="availability-row-left row-head"> Days </div>
                                            <div class="availability-row-right row-head"> Availability </div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Wednesday </div>
                                            <div class="availability-row-right">Morning</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Friday </div>
                                            <div class="availability-row-right">Morning</div>
                                        </div>
                                    </div>
                                    <div class="stuff-card-trigger"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 pratice-custom-px">
                                <div class="page-card stuff-card" data-name="cassiesnadden">
                                    <div class="stuff-card-icon"> <img src="img/avatar-woman.svg" alt="icon"> </div>
                                    <h3 class="stuff-card-name">Dr Cassie Snadden</h3>
                                    <div class="stuff-card-position">MBBS</div>
                                    <p class="stuff-card-text">Dr Snadden joined us as a part-time salaried GP in October 2018 after carrying out her training with us.</p>
                                    <div class="stuff-card-availability">
                                        <div class="availability-row">
                                            <div class="availability-row-left row-head"> Days </div>
                                            <div class="availability-row-right row-head"> Availability </div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Tuesday </div>
                                            <div class="availability-row-right">Afternoon</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Thursday </div>
                                            <div class="availability-row-right">Morning</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Friday </div>
                                            <div class="availability-row-right"> Morning</div>
                                        </div>
                                    </div>
                                    <div class="stuff-card-trigger"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 pratice-custom-px">
                                <div class="page-card stuff-card" data-name="alexandrastreeter">
                                    <div class="stuff-card-icon"> <img src="img/avatar-woman.svg" alt="icon"> </div>
                                    <h3 class="stuff-card-name">Dr Alexandra Streeter de Diego</h3>
                                    <div class="stuff-card-position">MBBS IBSc MRCPCH MRCGP</div>
                                    <p class="stuff-card-text">Dr Streeter de Diego graduated from UCL in 2008. She joined us as a part-time salaried GP in October 2018 after carrying out her training with us. She has a special interest in Paediatrics.</p>
                                    <div class="stuff-card-availability">
                                        <div class="availability-row">
                                            <div class="availability-row-left row-head"> Days </div>
                                            <div class="availability-row-right row-head"> Availability </div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Friday </div>
                                            <div class="availability-row-right">Morning</div>
                                        </div>
                                    </div>
                                    <div class="stuff-card-trigger"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-tabs-item" data-tab="2" data-name="nurses">
                    <div class="container">
                        <div class="row pratice-row">
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 pratice-custom-px">
                                <div class="page-card stuff-card" data-name="janethurston">
                                    <div class="stuff-card-icon"> <img src="img/avatar-woman.svg" alt="icon"> </div>
                                    <h3 class="stuff-card-name">Sister Jane Thurston</h3>
                                    <div class="stuff-card-position">Senior Practice Nurse</div>
                                    <p class="stuff-card-text">Sister Thurston trained at Oxford Radcliffe. She is responsible for the Diabetic Clinic, has a keen interest in all areas of chronic disease management, is also Family Planning trained &amp; runs family planning clinic</p>
                                    <div class="stuff-card-availability">
                                        <div class="availability-row">
                                            <div class="availability-row-left row-head"> Days </div>
                                            <div class="availability-row-right row-head"> Availability </div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Tuesday </div>
                                            <div class="availability-row-right">All Day</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Wednesday </div>
                                            <div class="availability-row-right">All Day</div>
                                        </div>
                                    </div>
                                    <div class="stuff-card-trigger"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 pratice-custom-px">
                                <div class="page-card stuff-card" data-name="gabriellegreet">
                                    <div class="stuff-card-icon"> <img src="img/avatar-woman.svg" alt="icon"> </div>
                                    <h3 class="stuff-card-name">Sister Gabrielle Greet</h3>
                                    <div class="stuff-card-position">Nurse</div>
                                    <p class="stuff-card-text">Sister Sister Gabby Greet joined the practice in September 2011. She provides a wide range of practice nurse services and has a particular interest and expertise in asthma and COPD. 
</p>
                                    <div class="stuff-card-availability">
                                        <div class="availability-row">
                                            <div class="availability-row-left row-head"> Days </div>
                                            <div class="availability-row-right row-head"> Availability </div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Monday </div>
                                            <div class="availability-row-right">Morning</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Wednesday </div>
                                            <div class="availability-row-right">All Day</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Thursday </div>
                                            <div class="availability-row-right">Morning</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Friday </div>
                                            <div class="availability-row-right">All Day</div>
                                        </div>
                                    </div>
                                    <div class="stuff-card-trigger"></div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 pratice-custom-px">
                                <div class="page-card stuff-card" data-name="lizrichardson">
                                    <div class="stuff-card-icon"> <img src="img/avatar-woman.svg" alt="icon"> </div>
                                    <h3 class="stuff-card-name">Sister Liz Richardson</h3>
                                    <div class="stuff-card-position">Nurse</div>
                                    <p class="stuff-card-text">Sister Liz Richardson joined the Practice in November 2017. She runs diabetes clinics and has an interest in family planning.  </p>
                                    <div class="stuff-card-availability">
                                        <div class="availability-row">
                                            <div class="availability-row-left row-head"> Days </div>
                                            <div class="availability-row-right row-head"> Availability </div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Monday </div>
                                            <div class="availability-row-right">All Day</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left">Tuesday </div>
                                            <div class="availability-row-right">All Day</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Thursday </div>
                                            <div class="availability-row-right">All Day</div>
                                        </div>
                                    </div>
                                    <div class="stuff-card-trigger"></div>
                                </div>
                            </div>

                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 pratice-custom-px">
                                <div class="page-card stuff-card" data-name="helenallaway">
                                    <div class="stuff-card-icon"> <img src="img/avatar-woman.svg" alt="icon"> </div>
                                    <h3 class="stuff-card-name">Mrs Helen Allaway</h3>
                                    <div class="stuff-card-position">MA(Oxon) BMBCh MRCGP</div>
                                    <p class="stuff-card-text">Helen Allaway has been a Health Care Assistant with us since June 2015 and is responsible for assisting the Practice clinical team with the provision of: Phlebotomy services, ECGs, Ambulatory BP monitoring, Health Checks and INRs.</p>
                                    <div class="stuff-card-availability">
                                        <div class="availability-row">
                                            <div class="availability-row-left row-head"> Days </div>
                                            <div class="availability-row-right row-head"> Availability </div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Monday </div>
                                            <div class="availability-row-right">Morning</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left">Tuesday </div>
                                            <div class="availability-row-right">All Day</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Wednesday </div>
                                            <div class="availability-row-right">All Day</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Thursday </div>
                                            <div class="availability-row-right">Morning</div>
                                        </div>
                                        <div class="availability-row">
                                            <div class="availability-row-left"> Friday </div>
                                            <div class="availability-row-right">All Day</div>
                                        </div>
                                    </div>
                                    <div class="stuff-card-trigger"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-tabs-item" data-tab="3" data-name="management">
                    <div class="container">
                        <div class="row pratice-row">
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 pratice-custom-px">
                                <div class="page-card stuff-card" data-name="jennypartridge">
                                    <div class="stuff-card-icon"> <img src="img/avatar-woman.svg" alt="icon"> </div>
                                    <h3 class="stuff-card-name">Jenny Partridge</h3>
                                    <div class="stuff-card-position">Practice Manager</div>
                                    <p class="stuff-card-text">Responsible for the day to day running of the practice. She is involved in managing all of the business aspects of the practice such as making sure that the right systems are in place to provide a high quality of patient care, human resources etc.</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 pratice-custom-px">
                                <div class="page-card stuff-card" data-name="clairegiles">
                                    <div class="stuff-card-icon"> <img src="img/avatar-woman.svg" alt="icon"> </div>
                                    <h3 class="stuff-card-name">Claire Giles</h3>
                                    <div class="stuff-card-position">Assistant Practice Manager</div>
                                    <p class="stuff-card-text">Carries out administrative work within the practice, providing support to the Practice Manager.</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 col-xl-3 pratice-custom-px">
                                <div class="page-card stuff-card" data-name="rabiacody">
                                    <div class="stuff-card-icon"> <img src="img/avatar-woman.svg" alt="icon"> </div>
                                    <h3 class="stuff-card-name">Rabia Cody</h3>
                                    <div class="stuff-card-position">Reception Manager</div>
                                    <p class="stuff-card-text">Responsible for managing the practice reception team and maintaining the appointment system. She also carries out administrative work for the practice.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer class="page-footer">
        <div class="section-inner">
            <div class="container">
                <div class="row pratice-row">
                    <div class="col-12 col-lg-6 pratice-custom-px">
                        <div class="row pratice-custom-px">
                            <div class="col-12 col-md-6 pratice-custom-px">
                                <div class="footer-column">
                                    <div class="footer-logo"> <img src="img/farnham-dene-logo-white.png" alt="logo"> </div>
                                    <div class="footer-info">
                                        <h4 class="footer-info-title">
                                            EMAIL
                                        </h4>
                                        <p class="footer-info-text mt-0" id="e-trigger">&#60;click to reveal&#62;</p>
                                        <p class="footer-info-text mt-0 hidden" id="e-hiden"> admin.farnhamdene@nhs.net </p>
                                    </div>
                                    <div class="footer-info">
                                        <h4 class="footer-info-title">
                                            Telephone
                                        </h4>
                                        <p class="footer-info-text mt-0" id="t-trigger">&#60;click to reveal&#62;</p>
                                        <p class="footer-info-text mt-0 hidden" id="t-hiden"> 01252 730 100 </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 pratice-custom-px">
                                <div class="footer-column">
                                    <h3 class="footer-column-title">
                                         Locations
                                     </h3>
                                    <a href="locations.html" class="footer-info">
                                        <h4 class="footer-info-title">
                                            Farnham Centre for Health
                                        </h4>
                                        <p class="footer-info-text mb-0">Hale Road
                                            <br> Farnham
                                            <br> Surrey
                                            <br> GU9 9QS</p>
                                    </a>
                                    <a href="locations.html" target="_blank" class="footer-info">
                                        <h4 class="footer-info-title">
                                            Lower Bourne
                                        </h4>
                                        <p class="footer-info-text mb-0">Lodge Hill Road
                                            <br>Farnham
                                            <br> Surrey
                                            <br>GU10 3RB</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 pratice-custom-px ">
                        <div class="row justify-content-around pratice-custom-px">
                            <div class="col-12 col-md-6 col-lg-4 pratice-custom-px">
                                <div class="footer-column ml-10">
                                    <h3 class="footer-column-title">
                                         Information
                                     </h3>
                                    <ul class="footer-column-links">
                                        <li class="footer-column-links-item"><a href="comingsoon.html">GP Earnings</a></li>
                                        <li class="footer-column-links-item"><a href="comingsoon.html">Job Vacancies</a></li>
                                        <li class="footer-column-links-item"><a href="comingsoon.html">Join the Practice</a></li>
                                        <li class="footer-column-links-item"><a href="feedback.html">Give Feedback</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 pratice-custom-px">
                                <div class="footer-column ml-10">
                                    <h3 class="footer-column-title">
                                         ABOUT US
                                     </h3>
                                    <ul class="footer-column-links">
                                        <li class="footer-column-links-item"><a href="locations.html">Find Us</a></li>
                                        <li class="footer-column-links-item"><a href="opening_hours.html">Opening hours</a></li>
                                        <li class="footer-column-links-item"><a href="pratice_team.html">Practice Team</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pratice-row footer-credids">
                    <div class="col-12 col-lg-6 pratice-custom-px">
                        <div class="footer-credids-copyright"> © 2019 Farnham Dene Medical Centre </div>
                    </div>
                    <div class="col-12 col-lg-6 pratice-custom-px">
                        <ul class="footer-credids-links">
                            <li class="footer-credids-links-item"> <a href="javascript:void(0);">Terms of Use</a> </li>
                            <li class="footer-credids-links-item"> <a href="javascript:void(0);">Privacy Policy</a> </li>
                            <li class="footer-credids-links-item"> <a href="javascript:void(0);">Cookies Policy</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--   Scripts-->
    <script src="libs/jquery-3.2.1.min.js"></script>
    <script src="libs/popper.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/breaking-news-ticker.min.js"></script>
    <script src="js/bundle.js"></script>
</body>

</html>