<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Farnham Dene - Prescriptions</title>
    <link rel="stylesheet" href="libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime()
                , event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0]
                , j = d.createElement(s)
                , dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PMT66HP');
    </script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PMT66HP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <header class="page-header">
        <div class="section-inner">
            <nav class="navbar  navbar-expand-md">
                <div class="navbar-header">
                    <a href="\" class="navbar-brand navbar-logo"> <span class="navbar-brand-main">
                    <img src="img/farnham-dene-logo.svg" alt="logo"> </span> <span class="navbar-brand-partner">
                        <img src="img/NHS-Logo.svg" alt="nhs">
                    </span> </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#locations"> <span class="hamburger">
                        <span class="icon-bar"></span> </span>
                    </button>
                </div>
                <div class="navbar-collapse" id="locations">
                    <div class="nav navbar-nav navbar-right">
                        <ul class="locations-list">
                            <h6>Locations:&nbsp;</h6>
                            <li><a href="locations.html#farnham">Farnham Centre for Health</a></li>
                            <li><span>&nbsp;|&nbsp;</span></li>
                            <li><a href="locations.html#bourne">Lower Bourne</a> </li>
                        </ul>
                        <ul class="info-list">
                            <li>
                                <a href="opening_hours.html"> <img src="img/time.svg" alt="time-icon">&nbsp;<span>Opening Hours</span></a>
                            </li>
                            <!--
                            <li>
                                <a href="comingsoon.html"> <img src="img/tick.svg" alt="tick-icon">&nbsp;<span>Join the Practice</span></a>
                            </li>
-->
                            <!--
                            <li>
                                <a href="comingsoon.html"> <img src="img/call.svg" alt="call-icon">&nbsp;<span>Contact Us</span></a></li>                           
-->
                            <li>
                                <a href="javascript:void(0);"> <img src="img/call.svg" alt="call-icon">&nbsp;<span>01252 730 100</span></a>
                            </li>
                        </ul>
                        <div class="rating-block">
                            <h6>CQC Rating</h6> <a href="https://www.cqc.org.uk/location/1-547710463" class="rating" target="_blank"> Good </a> </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main class="page-main aside-page">
        <div class="section-inner">
            <div class="page-content">
                <div class="container">
                    <section class="page-title">
                        <div class="page-title-icon"> <img src="img/Prescriptions.svg" alt="prescriptions"> </div>
                        <h1 class="page-title-heading">Prescriptions</h1>
                        <p class="page-title-text">The best way to request a repeat prescription is Online. Our Online Services can help you request repeat medication at your convenience with automated delivery of your prescription to your preferred pharmacy. You may also drop your request slip at the practice or post it to us.</p>
                    </section>
                    <div class="features">
                        <div class="features-card">
                            <div class="features-card-icon"> <img src="img/screen.svg" alt="screen"> </div>
                            <div class="features-card-text"> Online </div>
                        </div>
                        <div class="features-card">
                            <div class="features-card-icon"> <img src="img/mail.svg" alt="mail"> </div>
                            <div class="features-card-text"> BY POST </div>
                        </div>
                        <div class="features-card">
                            <div class="features-card-icon"> <img src="img/clinic2.svg" alt="clinic" class="auto-width"> </div>
                            <div class="features-card-text"> IN PERSON </div>
                        </div>
                    </div>
                    <div class="services">
                        <!--
                        <div class="services-question">
                            <h3 class="services-question-title">Are you registered for Online Services?</h3>
                            <div class="services-question-buttons">
                                <button class="services-button" id="yes">Yes</button>
                                <button class="services-button">No</button>
                            </div>
                        </div>
-->
                        <div class="services-tab">
                            <div class="services-tab-text">Please click on to one of the following buttons to log on to your GP Online Services and request a repeat prescription. You may also use other online service providers.</div>
                            <div class="services-tab-cards">
                                <div class="services-card card-pa">
                                    <div class="services-card-icon icon-pa"> <img src="img/pa-logo.png" alt="pa"> </div> <a href=" https://www.patientaccess.com/" class="services-card-button pa-button" target="_blank">Sign In</a> </div>
                                <div class="services-card card-evergreen">
                                    <div class="services-card-icon icon-evergreen"> <img src="img/logo-grey-green.png" alt="evergreen"></div> <a href=" https://e-life.co.uk/login" class="services-card-button evergreen-button" target="_blank">Sign In</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-aside">
                <div class="page-aside-title">FAQs</div>
                <div class="page-aside-cards">
                    <div class="aside-card">
                        <div class="aside-card-header">
                            <div class="aside-card-header-text">Do I need to Register every time I request a prescription?</div>
                            <div class="aside-card-header-trigger">
                                <div class="vert-line"> </div>
                                <div class="hor-line"></div>
                            </div>
                        </div>
                        <div class="aside-card-body">
                            <div class="aside-card-body-text">No, this only needs to be done the first time that you use the service. When collecting login details please bring a form of ID with you</div>
                        </div>
                    </div>
                    <div class="aside-card">
                        <div class="aside-card-header">
                            <div class="aside-card-header-text">Will I receive an email confirming receipt of my request?</div>
                            <div class="aside-card-header-trigger">
                                <div class="vert-line"> </div>
                                <div class="hor-line"></div>
                            </div>
                        </div>
                        <div class="aside-card-body">
                            <div class="aside-card-body-text">No, you will not receive an email, but the system stores a history of everything you ordered.</div>
                        </div>
                    </div>
                    <div class="aside-card">
                        <div class="aside-card-header">
                            <div class="aside-card-header-text">Can I use my email address for more than one family member?</div>
                            <div class="aside-card-header-trigger">
                                <div class="vert-line"> </div>
                                <div class="hor-line"></div>
                            </div>
                        </div>
                        <div class="aside-card-body">
                            <div class="aside-card-body-text">To keep patient's records secure each patient will need their own login and password.</div>
                        </div>
                    </div>
                    <div class="aside-card">
                        <div class="aside-card-header">
                            <div class="aside-card-header-text">Why can I not see all my medication on the repeat medication list?</div>
                            <div class="aside-card-header-trigger">
                                <div class="vert-line"> </div>
                                <div class="hor-line"></div>
                            </div>
                        </div>
                        <div class="aside-card-body">
                            <div class="aside-card-body-text">The doctor who prescribed your medication will decide whether it will be listed as a repeat medication on your records. This is a safety issue to ensure you are reviewed appropriately before any further medication is prescribed for you. If it is appropriate for you to order further prescriptions of the medication online it will be available for you to see and order when you login.</div>
                        </div>
                    </div>
                    <div class="aside-card">
                        <div class="aside-card-header">
                            <div class="aside-card-header-text">How long will my prescription take to be issued</div>
                            <div class="aside-card-header-trigger">
                                <div class="vert-line"> </div>
                                <div class="hor-line"></div>
                            </div>
                        </div>
                        <div class="aside-card-body">
                            <div class="aside-card-body-text">We do ask that you allow 72 hours for prescription requests.</div>
                        </div>
                    </div>
                    <div class="aside-card">
                        <div class="aside-card-header">
                            <div class="aside-card-header-text">Prescriptions Charges and Exemptions</div>
                            <div class="aside-card-header-trigger">
                                <div class="vert-line"> </div>
                                <div class="hor-line"></div>
                            </div>
                        </div>
                        <div class="aside-card-body">
                            <div class="aside-card-body-text">
                                <p>The NHS prescription charge is a flat-rate amount which successive Governments have thought it reasonable to charge for those who can afford to pay for their medicines. Prescription prepayment certificates (PPCs) offer real savings for people who need extensive medication</p>
                                <h4>From 1 April 2019, the charges are:</h4>
                                <ul>
                                    <li>Prescription (per item): £9.00</li>
                                    <li>12-month prepayment certificate (PPC): £104.00</li>
                                    <li>3-month PPC: £29.10</li>
                                </ul>
                                <p>If you will have to pay for four or more prescription items in three months, or more than 14 items in 12 months, you may find it cheaper to buy a PPC. </p>
                                <ul>
                                    <li>Telephone advice and order line
                                        <br> <span>0845 850 0030</span></li>
                                    <li>General Public - <a href="https://apps.nhsbsa.nhs.uk/ppc-online/patient.do" target="_blank">Buy or Renew a PPC On-line</a> </li>
                                </ul>
                                <p>There is further information about prescription exemptions and fees on the <a href="https://www.nhs.uk/using-the-nhs/help-with-health-costs/get-help-with-prescription-costs/" target="_blank">NHS website</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        <div class="section-inner">
            <div class="container">
                <div class="row pratice-row">
                    <div class="col-12 col-lg-6 pratice-custom-px">
                        <div class="row pratice-custom-px">
                            <div class="col-12 col-md-6 pratice-custom-px">
                                <div class="footer-column">
                                    <div class="footer-logo"> <img src="img/farnham-dene-logo-white.png" alt="logo"> </div>
                                    <div class="footer-info">
                                        <h4 class="footer-info-title">
                                            EMAIL
                                        </h4>
                                        <p class="footer-info-text mt-0" id="e-trigger">&#60;click to reveal&#62;</p>
                                        <p class="footer-info-text mt-0 hidden" id="e-hiden"> admin.farnhamdene@nhs.net </p>
                                    </div>
                                    <div class="footer-info">
                                        <h4 class="footer-info-title">
                                            Telephone
                                        </h4>
                                        <p class="footer-info-text mt-0" id="t-trigger">&#60;click to reveal&#62;</p>
                                        <p class="footer-info-text mt-0 hidden" id="t-hiden"> 01252 730 100 </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 pratice-custom-px">
                                <div class="footer-column">
                                    <h3 class="footer-column-title">
                                         Locations
                                     </h3>
                                    <a href="locations.html" class="footer-info">
                                        <h4 class="footer-info-title">
                                            Farnham Centre for Health
                                        </h4>
                                        <p class="footer-info-text mb-0">Hale Road
                                            <br> Farnham
                                            <br> Surrey
                                            <br> GU9 9QS</p>
                                    </a>
                                    <a href="locations.html" target="_blank" class="footer-info">
                                        <h4 class="footer-info-title">
                                            Lower Bourne
                                        </h4>
                                        <p class="footer-info-text mb-0">Lodge Hill Road
                                            <br>Farnham
                                            <br> Surrey
                                            <br>GU10 3RB</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 pratice-custom-px ">
                        <div class="row justify-content-around pratice-custom-px">
                            <div class="col-12 col-md-6 col-lg-4 pratice-custom-px">
                                <div class="footer-column ml-10">
                                    <h3 class="footer-column-title">
                                         Information
                                     </h3>
                                    <ul class="footer-column-links">
                                        <li class="footer-column-links-item"><a href="comingsoon.html">GP Earnings</a></li>
                                        <li class="footer-column-links-item"><a href="comingsoon.html">Job Vacancies</a></li>
                                        <li class="footer-column-links-item"><a href="comingsoon.html">Join the Practice</a></li>
                                        <li class="footer-column-links-item"><a href="feedback.html">Give Feedback</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 pratice-custom-px">
                                <div class="footer-column ml-10">
                                    <h3 class="footer-column-title">
                                         ABOUT US
                                     </h3>
                                    <ul class="footer-column-links">
                                        <li class="footer-column-links-item"><a href="locations.html">Find Us</a></li>
                                        <li class="footer-column-links-item"><a href="opening_hours.html">Opening hours</a></li>
                                        <li class="footer-column-links-item"><a href="pratice_team.html">Practice Team</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pratice-row footer-credids">
                    <div class="col-12 col-lg-6 pratice-custom-px">
                        <div class="footer-credids-copyright"> © 2019 Farnham Dene Medical Centre </div>
                    </div>
                    <div class="col-12 col-lg-6 pratice-custom-px">
                        <ul class="footer-credids-links">
                            <li class="footer-credids-links-item"> <a href="javascript:void(0);">Terms of Use</a> </li>
                            <li class="footer-credids-links-item"> <a href="javascript:void(0);">Privacy Policy</a> </li>
                            <li class="footer-credids-links-item"> <a href="javascript:void(0);">Cookies Policy</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--   Scripts-->
    <script src="libs/jquery-3.2.1.min.js"></script>
    <script src="libs/popper.js"></script>
    <script src="libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="libs/breaking-news-ticker.min.js"></script>
    <script src="js/bundle.js"></script>
</body>

</html>