.page-footer {
    padding-top: 68px;
    padding-bottom: 20px;
    color: $color-white;
    .footer-column {
        &-title {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 20px;
        }
        &-links {
            &-item {
                margin-bottom: 12px;
                a,
                span {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    text-decoration: none;
                    cursor: pointer;
                    &:hover {
                        color: #FFFFFF;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .footer-logo {
        width: 158px;
        margin-bottom: 30px;
        img {
            width: 100%;
            height: auto;
        }
    }
    .footer-info {
        display: block;
        width: 240px;
        margin-bottom: 20px;
        color: #fff;
        cursor: pointer;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
        &-title {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-transform: uppercase;
            margin: 0;
            color: #fff;
        }
        &-text {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: #fff;
            &:hover {
                color: #fff;
                text-decoration: none;
            }
            &.hidden {
                display: none;
            }
        }
    }
    .footer-credids {
        padding-top: 15px;
        border-top: 1px solid #fff;
        margin-top: 32px;
        &-copyright {
            font-weight: 400;
            font-size: 10px;
            line-height: 21px;
            text-transform: uppercase;
        }
        &-links {
            display: flex;
            justify-content: flex-end;
            &-item {
                margin-left: 22px;
                a,
                span {
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 21px;
                    text-align: right;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    text-decoration: none;
                    cursor: pointer;
                    &:hover {
                        color: #FFFFFF;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .ml-10 {
        margin-left: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .page-footer {
        .ml-10 {
            margin-left: 0;
            margin-top: 50px;
        }
        .footer-credids {
            margin-top: 60px;
            &-links {
                justify-content: flex-start;
                margin-top: 15px;
                &-item {
                    margin-left: 0;
                    margin-right: 22px;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .page-footer {
        .ml-10 {
            margin-left: 0;
            margin-top: 50px;
        }
        .footer-info {
            margin-bottom: 30px;
        }
        .footer-column {
            margin-top: 30px;
        }
        .footer-credids {
            margin-top: 60px;
            &-links {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin-top: 15px;
                &-item {
                    margin-left: 0;
                    margin-right: 22px;
                    margin-top: 10px;
                }
            }
        }
    }
}