.pratice-information {
    padding-bottom: 85px;
    .hiden-block {
        height: 0;
        overflow: hidden;
        transition: .2s linear;
    }
    .shown {
        height: 488px;
        overflow: hidden;
        transition: .2s linear;
    }
    .info-card {
        display: block;
        max-width: 331px;
        text-decoration: none;
        box-shadow: 0 5px 9px 0 rgba(190, 190, 190, 0.5);
        background-color: $color-white;
        border-bottom: 5px solid transparent;
        cursor: pointer;
        margin: 0 auto 13px;
        .info-image {
            padding-top: 36px;
            padding-bottom: 26px;
            text-align: center;
            display: flex;
            justify-content: center;
            .img-wrapper {
                @include size(60px, 60px);
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                    height: auto;
                    &.auto-width {
                        height: 100%;
                        width: auto;
                    }
                }
            }
        }
        h6 {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            text-align: center;
            color: $color-dark;
            text-transform: uppercase;
            padding-bottom: 20px;
        }
        p {
            height: 204px;
            padding: 6px 25px;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.43;
            color: $color-dark;
            margin-bottom: 0;
            overflow: hidden;
        }
        &:hover {
            border-bottom: 5px solid $color-blue;
        }
        &.active {
            border-bottom: 5px solid $color-blue;
            position: relative;
            z-index: 10;
            &::after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 12px 18px 0 18px;
                border-color: $color-blue transparent transparent transparent;
                position: absolute;
                bottom: -16px;
                left: 50%;
                transform: translateX(-50%);
                z-index: 9;
            }
        }
    }
    .info-content-wrapper {
        width: 100%;
        height: 477px;
        background-color: $color-blue;
        padding: 30px 40px;
        margin: 5px 0;
        color: $color-white;
        .custom-width {
            max-width: 405px;
        }
        .custom-grow {
            flex-grow: 1;
            max-width: unset;
        }
        .col-wrapper {
            min-height: 417px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        h6 {
            font-size: 16px;
            letter-spacing: 0.3px;
            line-height: 1.5;
            margin-bottom: 24px;
            font-weight: 500;
            text-transform: uppercase;
            cursor: pointer;
            a {
                color: $color-white;
                text-decoration: none;
                &:hover {
                    color: $color-white;
                    text-decoration: none;
                }
            }
        }
        .info-content {
            width: 100%;
            max-width: 354px;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 45px;
            img {
                width: 18px;
                height: 18px;
                margin-right: 5px;
            }
            .contact-us {
                color: $color-white;
                text-decoration: underline;
            }
        }
        .data-list {
            &-item {
                width: 100%;
                font-size: 14px;
                text-transform: uppercase;
                border-bottom: 1px solid #fff;
                padding-bottom: 12px;
                margin-bottom: 12px;
                line-height: 1.45;
                a {
                    color: #fff;
                    text-decoration: none;
                    &:hover {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1279px) {
    .pratice-information {
        .big-card {
            p {
                font-size: 12px;
                padding: 6px 23px;
            }
        }
    }
}

@media (min-width: 1280px) and (max-width: 1365px) {
    .pratice-information {
        .big-card {
            p {
                font-size: 13px;
                padding: 6px 23px;
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1365px) {
    .pratice-information {
        .info-content-wrapper {
            .data-list {
                &-item {
                    width: 100%;
                    font-size: 12px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .pratice-information {
        .col-12:nth-of-type(1) {
            order: 1;
        }
        .col-12:nth-of-type(2) {
            order: 2;
        }
        .col-12:nth-of-type(3) {
            order: 4;
        }
        .col-12:nth-of-type(4) {
            order: 5;
        }
        .col-12:nth-of-type(5) {
            order: 3;
        }
        .col-12:nth-of-type(6) {
            order: 6;
        }
        .info-content-wrapper {
            width: 100%;
            height: 100%;
            .custom-width {
                max-width: unset;
                margin-bottom: 76px;
            }
            .custom-grow {
                flex-grow: 1;
                max-width: unset;
                .row {
                    .col-12:last-child {
                        margin-top: 25px;
                    }
                }
            }
            .info-content {
                max-width: unset;
            }
            .col-wrapper {
                min-height: 429px;
            }
        }
        .shown {
            height: 1035px;
            margin-bottom: 15px;
            overflow: hidden;
            transition: .2s linear;
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .pratice-information {
        .col-12:nth-of-type(1) {
            order: 1;
        }
        .col-12:nth-of-type(2) {
            order: 2;
        }
        .col-12:nth-of-type(3) {
            order: 4;
        }
        .col-12:nth-of-type(4) {
            order: 5;
        }
        .col-12:nth-of-type(5) {
            order: 3;
        }
        .col-12:nth-of-type(6) {
            order: 6;
        }
        .info-card {
            p {
                font-size: 12px;
            }
        }
        .info-content-wrapper {
            width: 100%;
            height: 100%;
            .custom-width {
                max-width: unset;
                margin-bottom: 76px;
            }
            .custom-grow {
                flex-grow: 1;
                max-width: unset;
                .row {
                    .col-12:last-child {
                        margin-top: 25px;
                    }
                }
            }
            .info-content {
                max-width: unset;
            }
            .col-wrapper {
                min-height: unset;
            }
            .data-list {
                margin-bottom: 50px;
            }
        }
        .shown {
            height: 1500px;
            margin-bottom: 15px;
            overflow: hidden;
            transition: .2s linear;
        }
    }
}

@media (min-width: 320px) and (max-width: 575px) {
    .pratice-information {
        .col-12:nth-of-type(1) {
            order: 1;
        }
        .col-12:nth-of-type(2) {
            order: 3;
        }
        .col-12:nth-of-type(3) {
            order: 4;
        }
        .col-12:nth-of-type(4) {
            order: 6;
        }
        .col-12:nth-of-type(5) {
            order: 2;
        }
        .col-12:nth-of-type(6) {
            order: 5;
        }
        .info-card {
            margin-bottom: 11px;
            max-width: 100%;
            .info-image {
                padding-top: 28px;
                padding-bottom: 15px;
                img {
                    width: 50px;
                    height: 50px;
                }
            }
            h6 {
                font-size: 14px;
                line-height: 32px;
                padding-bottom: 13px;
            }
        }
        .big-card {
            h6 {
                font-size: 14px;
            }
            p {
                height: 230px;
                font-size: 14px;
                line-height: 1.5;
                overflow: hidden;
            }
        }
        .info-content-wrapper {
            width: 100%;
            height: 100%;
            padding: 35px 15px;
            h6 {
                font-size: 14px;
                margin-bottom: 25px;
            }
            .info-content {
                font-size: 12px;
                line-height: 18px;
                margin-bottom: 40px;
            }
            .custom-width {
                max-width: unset;
                margin-bottom: 76px;
            }
            .custom-grow {
                flex-grow: 1;
                max-width: unset;
                .row {
                    .col-12:last-child {
                        margin-top: 25px;
                    }
                }
            }
            .info-content {
                max-width: unset;
            }
            .data-list {
                margin-bottom: 70px;
                &-item {
                    font-size: 12px;
                    line-height: 1.7;
                }
            }
            .col-wrapper {
                min-height: unset;
            }
        }
        .shown {
            height: 1622px;
            margin-bottom: 15px;
            overflow: hidden;
            transition: .2s linear;
        }
    }
}


