body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.page-header {
    background-color: #fff;
    box-shadow: 0px 5px 9px rgba(190, 190, 190, 0.5);
}

.page-main {
    background-color: #EEF2F4;
}

.page-footer {
    background-color: #222F3E;
}

.flex-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .page-main {
        flex-grow: 1;
    }
}

.section-inner {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.pratice-row {
    margin-left: -22.5px;
    margin-right: -22.5px;
}

.pratice-custom-px {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.15px;
    color: $color-dark;
    margin-bottom: 38px;
}

.page-title {
    padding: 47px 0 25px;
    width: 100%;
    &-icon {
        width: 60px;
        height: 60px;
        margin-bottom: 20px;
        margin: 0 auto;
        img {
            width: 100%;
            height: auto;
            &.auto_width {
                width: auto;
                height: 100%;
            }
        }
    }
    &-heading {
        font-weight: 600;
        font-size: 34px;
        line-height: 42px;
        text-align: center;
        color: $color-dark;
    }
    &-info {
        width: 100%;
        padding: 39px 43px;
        border: 1px solid $color-blue;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $color-blue;
        margin-bottom: 25px;
        margin-top: 45px;
        position: relative;
        &::before {
            content: '';
            display: block;
            width: 60px;
            height: 60px;
            background-image: url(../img/info-icon.svg);
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            left: 39px;
            top: -30px;
        }
    }
    &-text {
        width: 100%;
        max-width: 1166px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: $color-dark;
        margin: 0 auto;
    }
    &-link {
        display: block;
        margin-top: 24px;
        text-align: center;
        a {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: $color-blue;
            text-decoration: none;
            &:hover {
                color: $color-blue;
                text-decoration: none;
            }
        }
    }
    &.locations-title {
        padding: 40px 0;
        .page-title-icon {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            img {
                height: 100%;
                width: auto;
            }
        }
        .page-title-heading {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    &.short-title {
        .page-title-heading {
            text-align: left;
        }
    }
}

.select {
    display: block;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D2D6DE;
    box-sizing: border-box;
    padding: 9px 15px;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: $color-dark;
    background-image: url(../img/select-traingle.svg);
    background-repeat: no-repeat;
    background-size: 11px 5px;
    background-position: 95% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    &::-ms-expand {
        display: none;
    }
    option {
        width: 100%;
        font-size: 14px;
    }
}

.page-card {
    width: 100%;
    background-color: $color-white;
    padding: 15px 18px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 34px rgba(72, 87, 93, 0.147164);
    &-title {
        font-weight: 400;
        font-size: 21px;
        line-height: 33px;
        color: $color-blue;
        margin-bottom: 12px;
    }
    &-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $color-dark;
        margin-bottom: 0;
    }
    &.highlitet {
        border: 2px solid $color-blue;
    }
}

.stuff-card {
    padding: 16px;
    min-height: 541px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &-icon {
        width: 100px;
        height: 100px;
        margin: 0 auto 16px;
        img {
            width: 100%;
            height: auto;
        }
    }
    &-name {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: $color-dark;
        margin-bottom: 6px;
    }
    &-position {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: $color-dark;
        mix-blend-mode: normal;
        opacity: 0.5;
        padding-bottom: 16px;
        border-bottom: 1px solid #E8EAEE;
        margin-bottom: 16px;
    }
    &-text {
        min-height: 170px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $color-dark;
        margin-bottom: 16px;
    }
    &-availability {
        margin-bottom: 16px;
        display: none;
        .availability-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 8px;
            margin-left: -16px;
            margin-right: -16px;
            margin-bottom: 8px;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: right;
            color: $color-dark;
            &-right {
                padding-right: 16px;
            }
            &-left {
                padding-left: 16px;
            }
            .row-head {
                font-weight: 500;
            }
        }
    }
    &-trigger {
        width: 30px;
        height: 30px;
        border: 1px solid $color-blue;
        border-radius: 50%;
        margin: auto auto 0;
        background-color: #fff;
        background-image: url(../img/arrow-down.svg);
        background-repeat: no-repeat;
        background-size: 12px 6px;
        background-position: center center;
        cursor: pointer;
        &.expand {
            background-image: url(../img/arrow-up.svg);
            background-color: $color-blue;
        }
    }
}

.page-map {
    width: 100%;
    max-width: 1106px;
    margin: 15px auto 105px;
}

.coming-soon {
    padding: 100px 0 200px;
    &-icon {
        width: 150px;
        height: 150px;
        margin: 0 auto 40px;
        animation: rotate 2s linear infinite;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: $color-blue;
    }
}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    display: none;
    &.shown {
        display: block;
    }
}

.popover-video {
    width: 90%;
    max-width: 560px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
    display: none;
    &.shown {
        display: block;
    }
    &-inner {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}

.loading-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: none;
    &-spinner {
        width: 70px;
        height: 70px;
        border: 6px solid #fff;
        border-right-color: transparent;
        border-radius: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        animation: rotate .7s linear infinite;
    }
    &.shown {
        display: block;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 1364px;
    }
    //    .news-section,
    //    .quick-links,
    //    .pratice-information,
    //    .page-footer {
    //        .container {
    //            max-width: 1170px;
    //            padding: 0 30px;
    //        }
    //    }
    .locations-page {
        .container {
            max-width: 920px;
        }
    }
}

@media (min-width: 1366px) and (max-width: 1439px) {
    .container {
        max-width: 1300px;
    }
    //    .news-section,
    //    .quick-links,
    //    .pratice-information,
    //    .page-footer {
    //        .container {
    //            max-width: 1170px;
    //            padding: 0 30px;
    //        }
    //    }
    .locations-page {
        .container {
            max-width: 920px;
        }
    }
}

@media (min-width: 1280px) and (max-width: 1365px) {
    .container {
        max-width: 1200px;
    }
    //    .news-section,
    //    .quick-links,
    //    .pratice-information,
    //    .page-footer {
    //        .container {
    //            max-width: 1170px;
    //            padding: 0 30px;
    //        }
    //    }
    .locations-page {
        .container {
            max-width: 920px;
        }
    }
}

@media (min-width: 1200px) and (max-width: 1280px) {
    .stuff-card {
        min-height: 593px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 680px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width: 575px) {
    .page-title {
        padding: 50px 0 27px;
        &-icon {
            width: 50px;
            height: 50px;
            margin-bottom: 20px;
        }
        &-heading {
            font-size: 24px;
            line-height: 50px;
        }
        &-info {
            padding: 20px;
            &::before {
                width: 40px;
                height: 40px;
                top: -20px;
            }
        }
    }
    .page-card {
        margin-bottom: 22px;
        &-title {
            font-size: 18px;
        }
        &-text {
            font-size: 14px;
            line-height: 22px;
        }
    }
}

@media (min-width: 451px) and (max-width: 575px) {
    .aside-page {
        .container {
            max-width: 90%;
        }
    }
    .container {
        max-width: 80%;
    }
    .section-title {
        text-align: center;
    }
}

@media (min-width: 322px) and (max-width: 450px) {
    .aside-page {
        .container {
            max-width: 100%!important;
        }
    }
    .container {
        max-width: 90%;
    }
    .section-title {
        text-align: center;
    }
}

@media (min-width: 320px) and (max-width: 321px) {
    .aside-page {
        .container {
            max-width: 100%;
        }
    }
    .container {
        max-width: 293px;
    }
    .section-title {
        text-align: center;
    }
}