/*  Mixin For Position */
@mixin position ($position, $top, $right, $bottom, $left) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}


/* Mixin For Padding */
@mixin padding ($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom; 
    padding-left: $left;
}


/* Mixin For Margin */
@mixin margin ($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}


/* Mixin For Size */
@mixin size($width, $height) {
    width: $width;
    height: $height;
}

/* Mixin For Transition */
@mixin transition($properity, $duration, $function) {
    -webkit-transition-property: $properity;
    -moz-transition-property: $properity;
    transition-property: $properity;
    -webkit-transition-duration: $duration;
    -moz-transition-duration: $duration;
    transition-duration: $duration;
    -webkit-transition-timing-function: $function;
    -moz-transition-timing-function: $function;
    transition-timing-function: $function;
}

/* Mixin For Transform */
@mixin transform($transforms) {
    -webkit-transform: $transforms;
    -moz-transform: $transforms;
    -ms-transform: $transforms;
    transform: $transforms;
}