//Variables For Colors 
$color-black:#000;
$color-white:#fff;
$color-black:#000;
$gun-metal:#4f535b;
$color-dark:#4F535B;
$color-blue:#005EB8;

//Variables For Meadia Quires
$small-screen :576px;    
$tablet-screen : 768px; 
$desktop-screen: 992px;   
$large-screen : 1200px;
